@using VideoHostingStreamingAWS.Models
@model HomeViewModel

@{
    ViewBag.Title = "CloudFront Private";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CloudFront Private</h2>
The information below is pulled from Cloudfront
<div class="row">
    @Html.DisplayFor(m => m.URL)
    <video id="testVideo" class="video-js vjs-default-skin" controls preload="none" data-setup="{}" style="width:90%">
        <source src="@Model.URL" type="@Model.SourceType" />
        <p class="vjs-no-js">To view this video, please enable JavaScript</p>
    </video>
</div>
