@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AWS Video Streaming</h1>
    <p class="lead">This is a prototype for uploading and streaming videos using AWS S3 and CloudFront.</p>
    <p><a href="http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Public S3 Bucket</h2>
        <p>View videos straight from a public S3 bucket</p>
        @Html.ActionLink("Public S3 Bucket", "S3Public")
    </div>
    <div class="col-md-4">
        <h2>Private S3 Bucket</h2>
        <p>Pull videos straight from a private S3 bucket, and download locally to play.</p>
        @Html.ActionLink("Private S3 Bucket", "S3Private")
    </div>
    <div class="col-md-4">
        <h2>From Cloudfront</h2>
        <p>
            The files are stored in a private S3 bucket, and displayed using CloudFront
        </p>
        <p>Public site: @Html.ActionLink("CloudFront Public", "CloudFrontPublic")</p>
        <p>
            @Html.ActionLink("CloudFront Private", "CloudFrontPrivate")
        </p>
    </div>
</div>